main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0;
  background-color: #283618;
  background-image: url("img/blok.webp");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

label,
input,
textarea,
select,
button {
  display: block;
  font-family: "Lora", serif;
  color: #fefae0;
}
form {
  display: grid;
  gap: 2rem;
  width: 200px;
  margin: 20px;
}

.indsend_indhold {
  display: grid;
  gap: 3px;
  width: 20rem;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
#submit {
  color: black;
}

input#fornavn,
input#efternavn,
input#beskrivelse {
  color: black;
}

@media (min-width: 800px) {
  main {
    height: 100vh;
    background-size: 30%;
  }
}
