.section {
  position: relative;
}

.baggrund {
  position: relative;
  z-index: 1;
}

.forgrund {
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 2;
  width: 65%;
}

.text {
  position: absolute;
  top: 65%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  width: 90%;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
