/* .section {
  position: relative;
} */

.background {
  width: 100%;
}

.foreground {
  position: relative;
  top: -540px;
  left: 242px;
  z-index: 2;
  width: 120px;
}

.foreground_2 {
  position: relative;
  z-index: 2;
  width: 120px;
  top: -286px;
}

.foreground_3 {
  position: relative;
  /* z-index: 2; */
  width: 250px;
  top: -581px;
  left: 112px;
}

.foreground_4 {
  display: none;
}

.text_felt {
  position: relative;
  top: -1223px;
  text-align: center;
  width: 350px;
  z-index: 2;
}

.text_felt h1 {
  font-size: 45px;
}

h1,
h2 {
  text-align: center;
}

a {
  color: white;
}

.selector {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
}
.plants_selector {
  text-align: center;
  margin-top: -903px;
}

.selector h2 {
  background-color: #606c38;
  border-radius: 20px;
  width: 80px;
}

/*PLANTER*/

.plants_by {
  display: flex;
  justify-content: center;
}

.plants_by_1,
.plants_by_2 {
  position: relative;
  margin: 10px;
}

.des {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  z-index: 1; /* Placer teksten over billedet */
}

.cate a,
.des a {
  font-family: "Oswald", sans-serif;
}

.des a {
  font-size: 30px;
}

.remove {
  display: none;
}


@media (min-width: 800px) {
  .background {
    display: block;
    width: 40%;
    margin-top: 80px;
  }

  .text_felt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    top: -713px;
    width: 1317px;
    margin: 40px;
  }

  .text_felt h1,
  .text_felt p {
    text-align: center;
  }

  .text_felt h1 {
    grid-column: 1;
    grid-row: 1;
  }
  .text_felt p {
    grid-column: 1;
    grid-row: 2;
  }

  .foreground {
    position: absolute;
    top: 0px;
    left: 1227px;
    z-index: 2;
    width: 200px;
  }

  .foreground_2 {
    display: none;
  }

  .foreground_3 {
    position: absolute;
    /* z-index: 2; */
    width: 350px;
    top: 281px;
    left: 1075px;
  }

  .foreground_4 {
    display: block;
    position: absolute;
    z-index: 2;
    width: 300px;
    top: 500px;
    left: -60px;
    transform: rotate(35deg);
  }

  .plants_selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -600px;
  }

  .plants_selector h1,
  .plants_selector h2,
  .selector {
    grid-column: 2;
  }

  .plants_by {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .plants_by .col_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
  }

  .plants_by_1 {
    width: 50%;
  }

  .billede_prøve {
    display: flex;
    justify-content: center; /* Centrer vandret */
    align-items: center; /* Centrer lodret */
  }

  .planter {
    display: flex;
    justify-content: center;
  }
}
