/* .section {
  position: relative;
} */



.grid1-1{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 150px;
  justify-items: center;
  position: relative;
  row-gap: 120px;

}
.background {
    position: absolute;
    display: block;
    width: 60vw;
    top: -14vw;
    height: 490px;
    left: 18vw;
    z-index: -1;

  }


.foreground {
  position: absolute;
  z-index: 2;
  width: 20%;
  left: 74vw;
  top:400vw
}
 
.foreground_2 {
  position: absolute;
  z-index: 2;
  left: -2vw;
  top:50vw;
  width: 20%;
}

.foreground_3 {
  position: absolute;
   z-index: -2; 
  width: 60%;
  left:39vw;
  top:75vw
}

.foreground_4 {
  position: relative;
   z-index: -2; 
  width: 70%;
  left:-40vw;
  top:0vw
}

*/

.text_felt h1 {
  font-size: 3vw;
}

h1,
h2 {
  text-align: center;
}

a {
  color: white;
}

.selector {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
}

.grid1-1 p{
  font-size: 1-3vw;
  line-height: 1.7rem;
  max-width: 340px;
}
/* .plants_selector {
  text-align: center;
  margin-top: -903px;
} */

.selector h2 {
  background-color: #606c38;
  border-radius: 20px;
  width: 80px;
}

/*PLANTER*/

.plants_by {
  display: flex;
  justify-content: center;
}

.plants_by_1,
.plants_by_2 {
  position: relative;
  margin: 10px;
}

.des {
  text-align: center;
  margin-bottom: 20px;
}

.cate a,
.des a {
  font-family: "Oswald", sans-serif;
}

.des a {
  font-size: 30px;
}

.remove {
  display: none;
}

.billede_prøve {
  border-radius: 50%;
  height: 160px;
}
.plants_selector{
  grid-row: 4;

}
 .plants_by_1 {
    width: 90%;
  }

  .plants_by .col_2 {
    display: grid;
    grid-template-columns: 1f;
    row-gap: 40px;
  }

.background {
  width: 85vw;
  left: 7vw;
  
}

@media (max-width: 400px) {
  .grid1-1 p{
  font-size: 1-3vw;
  line-height: 1.7rem;
  max-width: 250px;
}
.background{
  width: 99VW;
  height: 135vw;
  Left:0vw
}
}

@media (min-width: 400px) {
  .background {
    position: absolute;
    display: block;
    width: 85vw;
    top: -15vw;
    left:5vw;
    z-index: -1;
  }
}

@media (min-width: 600px) {
   .background {
    position: absolute;
    display: block;
    width: 75vw;
    top: -15vw;
    left:11vw;
    z-index: -1;
  }
}
@media (min-width: 700px) {
   .background {
    position: absolute;
    display: block;
    width: 70vw;
    top: -15vw;
    left:13vw;
    z-index: -1;
  }
}

@media (min-width: 800px) {
  .background {
    position: absolute;
    display: block;
    width: 50vw;
    top: -6vw;
    left:0vw;
    z-index: -1;

  }
  .grid1-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
  justify-items: center;
  position: relative;
}
.grid1-1 >:nth-child(2){
  grid-row: 3;
  grid-column: 2;
}
.grid1-1  >:first-child{
  grid-row: 1/8;
  grid-column: 1;
  padding-left: 7vw;
  padding-right: 7vw;
}

  .foreground {
    position: absolute;
    top: -6vw;
    left: 78.5vw;
    z-index: -1;
    width: 18%;
  }

  .foreground_2 {
    display: none;
  }

  .foreground_3 {
    position: absolute;
    /* z-index: 2; */
    width: 50vw;
    top: 10vw;
    left: 48vw;
    z-index: -1;
  }

  .foreground_4 {
    display: block;
    position: absolute;
    z-index: 2;
    width: 300px;
    top: 500px;
    left: -60px;
    transform: rotate(35deg);
  }

  .plants_by .col_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    gap:50px;
    row-gap: 50px;
  }

  .billede_prøve {
    display: flex;
    justify-content: center; /* Centrer vandret */
    align-items: center; /* Centrer lodret */
  }

}

@media (min-width: 1000px) {

 .background{
  width: 46vw;
 }
}

@media (min-width: 1200px) {

 .background{
  width: 41vw;
  left:4vw
 }

}

@media (min-width: 1400px) {

 .background{
  width: 37vw;
  left:6vw
 }

}
