.forsideh2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.forsideh1 {
  text-align: center;
  font-size: 4rem;
  position: relative;
  top: -12vw;
  z-index: 2;
}

.skove {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  gap: 10px;
}

.lov_desk {
  display: none;
}

@media (min-width: 800px) {
  .skove {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    gap: 20px;
    padding: 0px 300px 0px 300px;
  }

  .løvskov {
    display: none;
  }

  .lov_desk {
    display: block;
    height: 300px;
  }
}
