.forsideh2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: -200px;
}

.forsideh1 {
  text-align: center;
  font-size: 4rem;
  position: relative;
  top: -12vw;
  z-index: 2;
}

.skove {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  gap: 10px;
}

.lov_desk {
  display: none;
}

.foreground_forside {
  position: relative;
  top: -56vw;
  transform: rotate(90deg);
  width: 50%;
  left: 85px;
}

@media (min-width: 800px) {
  .skove {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    gap: 20px;
    padding: 0px 300px 0px 300px;
  }

  .løvskov {
    display: none;
  }

  .lov_desk {
    display: block;
    height: 500px;
    margin-top: 40px;
  }

  .forsideh1 {
    top: -70px;
    font-size: 100px;
  }

  .foreground_forside {
    top: -22vw;
    transform: rotate(90deg);
    width: 19%;
    left: 575px;
  }

  .forsideh2 {
    margin-top: -342px;
  }
}
